.DS_Store
node_modules
/build
/.svelte-kit
/.vercel
/package
/static/files
.env
.env.*
!.env.example
CHANGELOG.md
*.cjs

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
