@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'atropos/scss';

html {
	@apply overflow-hidden bg-base-100;

	&:not(.low__end) {
		& .observe__scroll {
			--delay: 200ms;

			@apply translate-y-8 opacity-0 pointer-events-none transition duration-500;
			transition-delay: calc(var(--delay) * var(--order));
		}

		& .observe--show {
			@apply translate-y-0 opacity-100 pointer-events-auto;
		}

		@media (prefers-reduced-motion) {
			& .observe__scroll {
				@apply transition-none;
			}
		}
	}

	&.scrollbar--show {
		overflow: inherit;
	}
}

body {
	@apply relative min-h-screen scrollbar__theme text-base-content selection:bg-primary cursor-default;

	&::before {
		content: '';
		@apply fixed inset-0 z-[90] bg-fixed bg-repeat opacity-50 pointer-events-none mix-blend-screen;
		background-image: url('$lib/images/webps/noise.webp');
	}

	& code {
		@apply typewriter;

		& span.method {
			@apply text-primary;
		}
	}
}
